
@import url("/usr/share/libnagato/data/common.css");
@import url("/usr/share/libnagato/data/dialog.css");
@import url("/usr/share/libnagato/data/widget.css");

window, dialog {
    background-color: #DEE6B7;
    background-repeat: repeat;
    background-position: center;
    background-image: url("images/main-window.png");
    /*NAGATO_BACKGROUND_IMAGE_MAIN_WINDOW*/
}

menu {
    background-repeat: repeat;
    background-position: center;
    /*NAGATO_BACKGROUND_IMAGE_GTK_MENU*/
}

textview {
    opacity: 0.9;
    /*NAGATO_OPACITY*/
    font: Oblique Bold 24px "Ubuntu Mono", "Sans Serif Mono";
    /*NAGATO_FONT*/
}

.status-label {
    opacity: 0.9;
    /*NAGATO_OPACITY*/
    background-color: white;
}

filechooser, fontchooser {
    opacity: 0.9;
    /*NAGATO_OPACITY*/
}
